In [5]:
# import libraries
from bs4 import BeautifulSoup
import requests

In [7]:
# Define the URL of the Wikipedia page that contains the list of the largest companies in the United States by revenue.
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
# Send a GET request to the specified URL to retrieve the HTML content of the page.
page=requests.get(url)

In [9]:
# Parse the HTML content of the page using BeautifulSoup to create a soup object for easy data extraction.
soup=BeautifulSoup(page.text,'html')

In [13]:
table=soup.find_all('table')[0]
# print(table)

In [15]:
table1=table.find_all('th')

In [17]:
print(table1)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [19]:
# Create a list called 'world_table_list' by iterating over each column in 'table1'.
# The list comprehension extracts the text from each column, removing any leading or trailing whitespace.
world_table_list=[ column.text.strip() for column in table1 ]
print(world_table_list)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [21]:
import pandas as pd

In [23]:
# creating the data frame :
df=pd.DataFrame(columns=world_table_list)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [27]:
rows=table.find_all('tr')

In [111]:
 
# Iterate over each element in 'rows', starting from the second row (to skip the header).
for element in rows[1:]:
    # Find all 'td'  elements within the current row element.
    tds = element.find_all('td')
    
    # Create a list 'tdsss' by extracting and stripping text from each 'td' element.
    tdsss = [element2.text.strip() for element2 in tds]
    
    # Get the current length of the DataFrame 'df' to determine the next index for appending data.
    length = len(df)
    
    # Append the extracted data from 'tdsss' to the DataFrame at the new index.
    df.loc[length] = tdsss

In [113]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
195,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
196,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
197,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
198,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
199,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [117]:
# Save the DataFrame 'df' to a CSV file named 'pandas.csv' in the specified path on the desktop.
# The 'index=False' parameter ensures that the row index is not included in the CSV file.

df.to_csv(r'C:\Users\PC\Desktop\files\pandas.csv', index=False)